Source: fizmo-console
Section: games
Priority: optional
Maintainer: Christoph Ender <christoph.ender@spellbreaker.org>
Build-Depends: debhelper (>= 9.0.0),
 dh-autoreconf,
 automake,
 autoconf,
 pkg-config,
 libxml2-dev,
 libfizmo-dev (>= 0.7.15)
Standards-Version: 4.1.0
Homepage: https://fizmo.spellbreaker.org/
Vcs-Browser: https://github.com/chrender/fizmo-console

Package: fizmo-console
Architecture: any
Depends: libfizmo-common (>= 0.7.14),
 ${misc:Depends},
 ${shlibs:Depends}
Provides: fizmo,
 zcode-interpreter
Description: Console-based Z-machine interpreter for Infocom/Inform games
 This is a bare-bones console-only frontend for the fizmo interpreter. Useful
 for automated Z-Machine processing or testing. For actual playing of
 Z-Machine games fizmo-ncursesw or fizmo-sdl2 might be more useful.
